doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&family=Titillium+Web:wght@200&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='stylesheet' href='/css/style.css')
    title Account
  body
    .ta-c
      header
        .container
          ul.clearfix
            li.fl.header-btn.header-brand
              a(href='/') CoinMarketDiscount
            if user
              li.fr.header-btn.header-account
                a.lgn-btn.dp-ib(href='/user/logout') Logout
      main
        .container
          != messages('message', locals)
          if errors
            each error, i in errors
              div(class="alert alert-danger") #{error.msg}
              
          .main-about.main-personal
            ul
              li
                h1 Wallets
              li
                p
                  | After exchange registrations enter your wallet address and user id to get discount as cashback
          
                  
          .account-articles
            form(method='POST' action='/user/edit/'+user._id)
              .account-article
                .account-article-content
                  .account-article-header
                    img(src='/logos/binance.svg' alt='')
                  .account-article-body
                    label(for='binance') USDT Deposit Adress:
                    input.w-60(type='text' name='binanceWallet' value= user.binanceWallet placeholder='Deposit Wallet Address')
                    label(for='binanceUID') Binance User ID:
                    input.w-60(type='text' name='binanceUserId' value= user.binanceUserId placeholder='Exchange User Id')
              .account-article
                .account-article-content
                  .account-article-header
                    img(src='/logos/okex.svg' alt='')
                  .account-article-body
                    label(for='okex') USDT Deposit Adress:
                    input.w-60(type='text' name='okexWallet' value= user.okexWallet placeholder='Deposit Wallet Address')
                    label(for='okexUID') Okex User ID:
                    input.w-60(type='text' name='okexUserId' value= user.okexUserId placeholder='Exchange User Id')
              .account-article
                .account-article-content
                  .account-article-header
                    img(src='/logos/ftx.svg' alt='')
                  .account-article-body
                    label(for='ftx') USDT Deposit Adress:
                    input.w-60(type='text' name='ftxWallet' value= user.ftxWallet placeholder='Deposit Wallet Address')
                    label(for='ftxUID') Ftx User ID:
                    input.w-60(type='text' name='ftxUserId' value= user.ftxUserId placeholder='Exchange User Id')

              .account-article
                .account-article-content
                  .account-article-header
                    img(src='/logos/huobi.svg' class='w-60' alt='')
                  .account-article-body
                    label(for='huobi') USDT Deposit Adress:
                    input.w-60(type='text' name='huobiWallet' value= user.huobiWallet placeholder='Deposit Wallet Address')
                    label(for='huobiUID') Huobi User ID:
                    input.w-60(type='text' name='huobiUserId' value= user.huobiUserId placeholder='Exchange User Id')
              .account-article
                .account-article-content
                  .account-article-header
                    img(src='/logos/gateio.svg' alt='')
                  .account-article-body
                    label(for='gate') USDT Deposit Adress:
                    input.w-60(type='text' name='gateWallet' value= user.gateWallet placeholder='Deposit Wallet Address')
                    label(for='gateUID') Gate User ID:
                    input.w-60(type='text' name='gateUserId' value= user.gateUserId placeholder='Exchange User Id')
              .account-article
                .account-article-content
                  .account-article-header
                    img(src='/logos/kucoin.svg' alt='')
                  .account-article-body
                    label(for='kucoin') USDT Deposit Adress:
                    input.w-60(type='text' name='kucoinWallet' value= user.kucoinWallet placeholder='Deposit Wallet Address')
                    label(for='kucoinUID') Kucoin User ID:
                    input.w-60(type='text' name='kucoinUserId' value= user.kucoinUserId placeholder='Exchange User Id')
                    
              input.save-btn(type='submit' value='Save')
                    
      footer
        .container
          ul
            li
              span
                | Get in touch
                | contact@coinmarketdiscount.com
            li
              span 
                | 2021
                |
            li
              a(href='/#') About

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')  
